/*---box sizing---*/

html {box sizing: border-box;}
*,
*:before,
*:after {box-sizing: inherit;}

/*---utility styles--*/

.container{
    width:80vw; 
    margin:auto;
    max-width:900px;
}

/*--global styles---*/
body{
  font-family: 'Open Sans Condensed', sans-serif;
}

header.primary{
  background-color: #b76e79;
  color:#000000;
  text-align:center;
}

/*header.primary nav ul{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  padding:40px 0 40px 0;
  max-width:900px;
  margin:20px 0 20px 0;
  
  /*
  header.primary nav a:link, header.primary nav a:visited{
  color:#000000;
  text-decoration:none;
  }*/
  
#colophon{
  padding:20px;
  margin:0;
  color:#ffffff;
  text-align:center;
  font-size:.9rem;
  text-transform:uppercase;}
